  .dashboard {
    display: flex;
    background-color: white;
  }

  h1 {
    color: #004A7C;
  }
  
  .dashboard > * {
    flex-grow: 1;
    padding: 10px;
  }
  
    .main{
        margin: 2vw;
    }

  .dashboardHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
    .dashboardHome > div {
    background-color: #d3d3d3;
    padding: 20px;
    text-align: center;
    color: black;
}
    .full-width {
    grid-column: span 3;
}
    .double-width {
    grid-column: span 2;
}

.dashboardSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;  
}

.dashboardBalance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;  
}

.dashboardMap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;  
}

.dashboardMap a{
  visibility: hidden;
}

.dashboardMap button{
    visibility: hidden;
  }

.dashboardCalendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;  
}

.dashboardSection span {
    align-self: center;
    color: gray;
}

.dashboardBalance span {
    align-self: center;
    color: gray;
}

.legend {
    font-size: 0.8em;
    color: gray;
    margin-top: 10px;
    text-align: center;
}

.react-calendar { 
    width: 95vw;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    z-index: 5;
   }
   .react-calendar__navigation button {
    color: #0056b3;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   }
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #0056b3;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #b3b3b3;
    border-radius: 6px;
    font-weight: bold;
    color: #0056b3;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #b3b3b3;
    border-radius: 6px;
    font-weight: bold;
    color: #0056b3;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #0056b3;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #0056b3;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #0056b3;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #0056b3;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #0056b3;
    color: white;
   }

   .react-calendar__tile {
    padding: 20px; /* Ajusta este valor al que necesites */
    box-sizing: border-box;
    /* resto de tus estilos... */
  }
  
  .mapboxgl-ctrl-bottom-right {
    visibility: hidden;
  }
   
  .scrollable-container { /* Set the maximum height to allow scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  