.page{
  margin: 5vw;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;

}
.dashboard > div {
  background-color: #d3d3d3;
  padding: 20px;
  text-align: center;
  color: black;
  height: 30vh;
}
.full-width {
  grid-column: span 3;
}
.double-width {
  grid-column: span 2;
}

.full-height { 
  grid-row: span 3;
}